<div class="user-list-container">
  <h2 class="text-white">Users List</h2>
  <a routerLink="/users/create" class="add-button">Add User</a>
  
  <table class="user-table text-black bg-white shadow-md rounded-lg overflow-hidden">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="roles">
          <span *ngFor="let role of user.roles" class="role-tag">
            {{ role.name }}
          </span>
        </td>
        
        <td class="actions">
          <div class="action-buttons">
           
            <button class="action-button edit" [routerLink]="['/users/edit', user.id]">
              Edit
            </button>
            <button class="action-button delete" (click)="deleteUser(user.id)">
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>