<div class="container">
    <h2 class="text-success mb-4">Add Employee</h2>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <div class="mb-3">
        <label for="role_id" class="form-label">Role</label>
        <select class="form-select" id="role_id" [(ngModel)]="user.role_id" name="role_id" required>
          <option value="1">Admin</option>
          <option value="2">HRManager</option>
          <option value="3">Employee</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success text-white" [disabled]="!userForm.valid">Create</button>
      <a routerLink="/employees" class="btn btn-secondary ms-2">Cancel</a>
    </form>
  </div>