/* src/app/pages/employee-edit/employee-edit.component.scss */
.form-control, .form-select {
    border-color: #28a79c;
  }
  .btn{
    background-color: #28a3a7;
    border-color: #179090;
    color: white;
  }